{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lu Jo</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/styles/main.css' %}">
</head>

<body>
    <!-- Landing (full-page first-section) -->
    <div class="container-fluid" id="wrapper-landing">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top" id="wrapper-navbar">
            <div class="mr-auto">
                <img class="" id="corp-logo" src="{% static 'core/img/LU-JO_BLANCO.png' %}">
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#noticias">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#vlog">Vlog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#cursos">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contacto">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="text-center" id="wrapper-land-text">
            <h4>Centro argentino de investigación y formación en Psico-Bio-Análisis Decodificativo (PBAD)</h4>
        </div>
    </div>
    <!-- Fin Landing -->

    {% block content %}
    {% endblock %}

    <!-- Scripts / JS -->
    <script src="{% static 'core/js/jquery.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="{% static 'core/js/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'core/js/scroll.js' %}"></script>
    <script src="{% static 'core/js/script.js' %}"></script>
    <script src="{% static 'core/js/ajax.js' %}"></script>
</body>

</html>